.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.header{
    display: flex;
    flex-direction: column;
    background: #1F2937;
    color: #ffff;

}    

.top{
    display: flex;
    justify-content: space-between;
    padding:10px 190px;
    

}

.logo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color:#F9FAF8;
    
}

ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    
}

a,
.sec-text{
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E5E7EB;    
}

a{
    text-decoration: none;
}

.sec-text{
    margin-bottom: 5px;
    
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.content{
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0px;
    
}

.con-tex{
    display: flex;
    flex-direction: column;
    max-width: 400px;

}
.con-image{
    display: flex;
    align-items: center;
}
.img1{
    width: 350px;
    height: auto;

}
.information{
    display:flex;
    padding: 25px;
    
    gap: 20px;
    flex-direction: column;
}
.inf-her{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    

}
.inf-cont{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;

}
.inf-box{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
    padding: 5px;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;

}
.img-info{
    width: 200px;
    height: auto;
    border-radius: 8px;
    
}

.quote-section{
    display: flex;
    justify-content: center;    
    background: #E5E7EB;
    
}

.quote-cont{
    display:flex;
    flex-direction: column;
    width: 830px;
    color: #1F2937;
    padding-top: 150px;
    padding-bottom: 150px;
}



.quote{
    font-size: 36px;
    font-style: italic;
    text-align: justify;
}
.author{
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;

}

button{
    border-radius: 8px;
    padding: 5px;
    width: 90px;
    background-color: #3882F6;
    color: white;
    border: 2px solid white
}
